.confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 12px;
}

img {
  max-width: 360px;
}

p {
  line-height: 1em;
}

p:first-of-type {
  font-size: x-large;
  margin-bottom: 12px
}

button {
  margin-top: 16px;
}